In [1]:
#Import Dependencies
import pandas as pd
import os

In [12]:
#Set Up path
schools_to_load = "Resources/schools_complete.csv"
students_to_load = "Resources/students_complete.csv"
schools_df = pd.read_csv(schools_to_load)
students_df = pd.read_csv(students_to_load)

#Merge both Students_df & schools_df 
school_data_df = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [23]:
#District Summary
#Total Schools
total_schools = len(schools_df)
#Total Students
total_students = len(students_df)
#Total Budget
total_budget = schools_df["budget"].sum()
#Average Math Score
math_avg = school_data_df["math_score"].mean()
#Average Reading Score
reading_avg = school_data_df["reading_score"].mean()
#% Passing Math (The percentage of students that passed math.) 70% is passing
school_data_df.loc[school_data_df["math_score"]>=70,"passing_math"] = True
percent_math = school_data_df.groupby("passing_math")["passing_math"].count()/total_students * 100
#% Passing Reading (The percentage of students that passed reading.) 70% is passing
school_data_df.loc[school_data_df["reading_score"]>=70,"passing_reading"] = True
percent_reading = school_data_df.groupby("passing_reading")["passing_reading"].count()/total_students * 100
#% Overall Passing (The percentage of students that passed math and reading.)
school_data_df.loc[school_data_df["passing_math"] & school_data_df["passing_reading"], "overall_passing"] = True
percent_overall = school_data_df.groupby("overall_passing")["overall_passing"].count()/total_students * 100

In [27]:
#Create a dataframe to hold the above results
district_df = pd.DataFrame({"Total Schools": total_schools, 
                            "Total Students": total_students,
                            "Total Budget": total_budget,
                            "Average Math Score": math_avg,
                            "Average Reading Score": reading_avg,
                            "% Passing Math": percent_math,
                            "% Passing Reading": percent_reading,
                            "% Overall Passing": percent_overall})
#Formatting output of District_df
district_df["Total Students"] = district_df["Total Students"].map("{:,}".format)
district_df["Total Budget"] = district_df["Total Budget"].map("${:,.2f}".format)
district_df["Average Math Score"] = district_df["Average Math Score"].map("{:,.2f}".format)
district_df["Average Reading Score"] = district_df["Average Reading Score"].map("{:,.2f}".format)
district_df["% Passing Math"] = district_df[["% Passing Math"].map("{:,.2f}".format)
district_df["% Passing Reading"] = district_df["% Passing Reading"].map("{:,.2f}".format)
district_df["% Overall Passing"] = district_df["% Overall Passing"].map("{:,.2f}".format)
district_df

SyntaxError: invalid syntax (Temp/ipykernel_22400/4004051680.py, line 16)

In [ ]:
#School Summary
#Create an overview table that summarizes key metrics about each school, including:
#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math and reading.)

In [ ]:
#Top School by % overall passing
#Create a table that highlights the top 5 performing schools based on % Overall Passing. Include:
#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math and reading.)

In [ ]:
#Bottom Performing Schools by % overall passing 
#Create a table that highlights the bottom 5 performing schools based on % Overall Passing. Include all of the same metrics as above.

In [ ]:
#Math Scores by Grade
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
#Reading Scores by Grade
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#Average Math Score
#Average Reading Score
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math and reading.)

In [ ]:
#Scores by School Size
#Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

In [ ]:
#Scores by School Type
#Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).