In [1]:
#Import Dependencies
import pandas as pd
import os
import numpy as np

In [2]:
#Set Up path
schools_to_load = "Resources/schools_complete.csv"
students_to_load = "Resources/students_complete.csv"
schools_df = pd.read_csv(schools_to_load)
students_df = pd.read_csv(students_to_load)
#Merge both Students_df & schools_df 
school_data_df = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#District Summary
#Total Schools
total_schools = len(schools_df)
#Total Students
total_students = len(students_df)
#Total Budget
total_budget = schools_df["budget"].sum()
#Average Math Score
math_avg = school_data_df["math_score"].mean()
#Average Reading Score
reading_avg = school_data_df["reading_score"].mean()
#% Passing Math (The percentage of students that passed math.) 70% is passing
school_data_df.loc[school_data_df["math_score"]>=70,"passing_math"] = True
percent_math = school_data_df.groupby("passing_math")["passing_math"].count()/total_students * 100
#% Passing Reading (The percentage of students that passed reading.) 70% is passing
school_data_df.loc[school_data_df["reading_score"]>=70,"passing_reading"] = True
percent_reading = school_data_df.groupby("passing_reading")["passing_reading"].count()/total_students * 100
#% Overall Passing (The percentage of students that passed math and reading.)
school_data_df.loc[school_data_df["passing_math"] & school_data_df["passing_reading"], "overall_passing"] = True
percent_overall = school_data_df.groupby("overall_passing")["overall_passing"].count()/total_students * 100

In [4]:
#Create a dataframe to hold the above results
district_df = pd.DataFrame({"Total Schools": total_schools, 
                            "Total Students": total_students,
                            "Total Budget": total_budget,
                            "Average Math Score": math_avg,
                            "Average Reading Score": reading_avg,
                            "% Passing Math": percent_math,
                            "% Passing Reading": percent_reading,
                            "% Overall Passing": percent_overall})
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
True,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [5]:
#Formatting output of District_df
district_df["Total Students"] = district_df["Total Students"].map("{:,}".format)
district_df["Total Budget"] = district_df["Total Budget"].map("${:,.2f}".format)
district_df["Average Math Score"] = district_df["Average Math Score"].map("{:,.2f}%".format)
district_df["Average Reading Score"] = district_df["Average Reading Score"].map("{:,.2f}%".format)
district_df["% Passing Math"] = district_df["% Passing Math"].map("{:,.2f}%".format)
district_df["% Passing Reading"] = district_df["% Passing Reading"].map("{:,.2f}%".format)
district_df["% Overall Passing"] = district_df["% Overall Passing"].map("{:,.2f}%".format)
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
True,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

In [6]:
#School Summary
#Create an overview table that summarizes key metrics about each school, including: School Name, School Type, Total Students, Total School Budget
overview_df = pd.DataFrame({"School Name": schools_df["school_name"],
                            "School Type": schools_df["type"],
                            "Total Students": schools_df["size"],
                            "Total School Budget": schools_df["budget"]
                           })
overview_df = overview_df.sort_values(by = "School Name")
overview_df = overview_df.set_index("School Name")
overview_df

                      School Type  Total Students  Total School Budget
School Name
Bailey High School       District            4976              3124928
Cabrera High School       Charter            1858              1081356
Figueroa High School     District            2949              1884411
Ford High School         District            2739              1763916
Griffin High School       Charter            1468               917500
Hernandez High School    District            4635              3022020
Holden High School        Charter             427               248087
Huang High School        District            2917              1910635
Johnson High School      District            4761              3094650
Pena High School          Charter             962               585858
Rodriguez High School    District            3999              2547363
Shelton High School       Charter            1761              1056600
Thomas High School        Charter            1635              1043130
Wilson High School        Charter            2283              1319574
Wright High School        Charter            1800              1049400

In [7]:
#Per Student Budget
overview_df["Per Student Budget"] = overview_df["Total School Budget"]/overview_df["Total Students"]
#Average Math Score
school_mean_df = school_data_df.groupby(["school_name"]).mean()
overview_df["Average Math Score"] = school_mean_df["math_score"]
#Average Reading Score
overview_df["Average Reading Score"] = school_mean_df["reading_score"]
overview_df
#% Passing Math (The percentage of students that passed math.)
school_count_df = school_data_df.groupby(["school_name"]).count()
overview_df["% Passing Math"] = school_count_df["passing_math"]/school_count_df["math_score"] * 100
#% Passing Reading (The percentage of students that passed reading.)
overview_df["% Passing Reading"] = school_count_df["passing_reading"]/school_count_df["reading_score"] * 100
#% Overall Passing (The percentage of students that passed math and reading.)
overview_df["% Overall Passing"] = school_count_df["overall_passing"]/school_count_df["math_score"] * 100
overview_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [8]:
#Formatting output of overview_df
overview_df["Total Students"] = overview_df["Total Students"].map("{:,}".format)
overview_df["Total School Budget"] = overview_df["Total School Budget"].map("${:,.2f}".format)
overview_df["Per Student Budget"] = overview_df["Per Student Budget"].map("${:,.2f}".format)
overview_df["Average Math Score"] = overview_df["Average Math Score"].map("{:,.2f}%".format)
overview_df["Average Reading Score"] = overview_df["Average Reading Score"].map("{:,.2f}%".format)
overview_df["% Passing Math"] = overview_df["% Passing Math"].map("{:,.2f}%".format)
overview_df["% Passing Reading"] = overview_df["% Passing Reading"].map("{:,.2f}%".format)
overview_df["% Overall Passing"] = overview_df["% Overall Passing"].map("{:,.2f}%".format)
overview_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05%,81.03%,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10%,80.75%,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29%,80.93%,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80%,83.81%,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36%,83.73%,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68%,83.95%,93.33%,96.61%,90.33%

In [9]:
#Top School by % overall passing
#Create a table that highlights the top 5 performing schools based on % Overall Passing from overview_df
top_schools = overview_df.sort_values(by='% Overall Passing', ascending = False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,90.54%

In [10]:
#Bottom Performing Schools by % overall passing 
#Create a table that highlights the bottom 5 performing schools based on % Overall Passing from overview_df
bottom_schools = overview_df.sort_values(by='% Overall Passing')
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29%,80.93%,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,53.54%

In [11]:
#Math Scores by Grade: Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#pull data from school_data_df by grade level
math_9th_grade = pd.DataFrame(school_data_df.loc[school_data_df["grade"]=="9th",["school_name", "math_score"]])
math_10th_grade = pd.DataFrame(school_data_df.loc[school_data_df["grade"]=="10th",["school_name", "math_score"]])
math_11th_grade = pd.DataFrame(school_data_df.loc[school_data_df["grade"]=="11th",["school_name", "math_score"]])
math_12th_grade = pd.DataFrame(school_data_df.loc[school_data_df["grade"]=="12th",["school_name", "math_score"]])
#Group schools and average the scores per school and grade level
math_9th_grade_schools = math_9th_grade.groupby("school_name").mean()
math_10th_grade_schools = math_10th_grade.groupby("school_name").mean()
math_11th_grade_schools = math_11th_grade.groupby("school_name").mean()
math_12th_grade_schools = math_12th_grade.groupby("school_name").mean()
#Rename the columns
math_9th_grade_schools = math_9th_grade_schools.rename(columns={"math_score":"9th Grade"})
math_10th_grade_schools = math_10th_grade_schools.rename(columns={"math_score":"10th Grade"})
math_11th_grade_schools = math_11th_grade_schools.rename(columns={"math_score":"11th Grade"})
math_12th_grade_schools = math_12th_grade_schools.rename(columns={"math_score":"12th Grade"})
#Create dataframe combining the schools and grade level
grade_9_10 = pd.merge(math_9th_grade_schools, math_10th_grade_schools, on="school_name")
grade_11_12 = pd.merge(math_11th_grade_schools, math_12th_grade_schools, on="school_name")
math_scores_df = pd.merge(grade_9_10, grade_11_12, on="school_name")
math_scores_df.index.name = "School Name"
math_scores_df

                       9th Grade  10th Grade  11th Grade  12th Grade
School Name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

In [12]:
#Formatting output of math_scores_df
math_scores_df["9th Grade"] = math_scores_df["9th Grade"].map("{:,.2f}%".format)
math_scores_df["10th Grade"] = math_scores_df["10th Grade"].map("{:,.2f}%".format)
math_scores_df["11th Grade"] = math_scores_df["11th Grade"].map("{:,.2f}%".format)
math_scores_df["12th Grade"] = math_scores_df["12th Grade"].map("{:,.2f}%".format)
math_scores_df

                      9th Grade 10th Grade 11th Grade 12th Grade
School Name
Bailey High School       77.08%     77.00%     77.52%     76.49%
Cabrera High School      83.09%     83.15%     82.77%     83.28%
Figueroa High School     76.40%     76.54%     76.88%     77.15%
Ford High School         77.36%     77.67%     76.92%     76.18%
Griffin High School      82.04%     84.23%     83.84%     83.36%
Hernandez High School    77.44%     77.34%     77.14%     77.19%
Holden High School       83.79%     83.43%     85.00%     82.86%
Huang High School        77.03%     75.91%     76.45%     77.23%
Johnson High School      77.19%     76.69%     77.49%     76.86%
Pena High School         83.63%     83.37%     84.33%     84.12%
Rodriguez High School    76.86%     76.61%     76.40%     77.69%
Shelton High School      83.42%     82.92%     83.38%     83.78%
Thomas High School       83.59%     83.09%     83.50%     83.50%
Wilson High School       83.09%     83.72%     83.20%     83.04%
Wright High School       83.26%     84.01%     83.84%     83.64%

In [13]:
#Reading Scores by Grade: Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#pull data from school_data_df by grade level
reading_9th_grade = pd.DataFrame(school_data_df.loc[school_data_df["grade"]=="9th",["school_name", "reading_score"]])
reading_10th_grade = pd.DataFrame(school_data_df.loc[school_data_df["grade"]=="10th",["school_name", "reading_score"]])
reading_11th_grade = pd.DataFrame(school_data_df.loc[school_data_df["grade"]=="11th",["school_name", "reading_score"]])
reading_12th_grade = pd.DataFrame(school_data_df.loc[school_data_df["grade"]=="12th",["school_name", "reading_score"]])
#Group schools and average the scores per school and grade level
reading_9th_grade_schools = reading_9th_grade.groupby("school_name").mean()
reading_10th_grade_schools = reading_10th_grade.groupby("school_name").mean()
reading_11th_grade_schools = reading_11th_grade.groupby("school_name").mean()
reading_12th_grade_schools = reading_12th_grade.groupby("school_name").mean()
#Rename the columns
reading_9th_grade_schools = reading_9th_grade_schools.rename(columns={"reading_score":"9th Grade"})
reading_10th_grade_schools = reading_10th_grade_schools.rename(columns={"reading_score":"10th Grade"})
reading_11th_grade_schools = reading_11th_grade_schools.rename(columns={"reading_score":"11th Grade"})
reading_12th_grade_schools = reading_12th_grade_schools.rename(columns={"reading_score":"12th Grade"})
#Create dataframe combining the schools and grade level
grade_9_10 = pd.merge(reading_9th_grade_schools, reading_10th_grade_schools, on="school_name")
grade_11_12 = pd.merge(reading_11th_grade_schools, reading_12th_grade_schools, on="school_name")
reading_scores_df = pd.merge(grade_9_10, grade_11_12, on="school_name")
reading_scores_df.index.name = "School Name"
reading_scores_df

                       9th Grade  10th Grade  11th Grade  12th Grade
School Name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

In [14]:
#Formatting output of reading_scores_df
reading_scores_df["9th Grade"] = reading_scores_df["9th Grade"].map("{:,.2f}%".format)
reading_scores_df["10th Grade"] = reading_scores_df["10th Grade"].map("{:,.2f}%".format)
reading_scores_df["11th Grade"] = reading_scores_df["11th Grade"].map("{:,.2f}%".format)
reading_scores_df["12th Grade"] = reading_scores_df["12th Grade"].map("{:,.2f}%".format)
reading_scores_df

                      9th Grade 10th Grade 11th Grade 12th Grade
School Name
Bailey High School       81.30%     80.91%     80.95%     80.91%
Cabrera High School      83.68%     84.25%     83.79%     84.29%
Figueroa High School     81.20%     81.41%     80.64%     81.38%
Ford High School         80.63%     81.26%     80.40%     80.66%
Griffin High School      83.37%     83.71%     84.29%     84.01%
Hernandez High School    80.87%     80.66%     81.40%     80.86%
Holden High School       83.68%     83.32%     83.82%     84.70%
Huang High School        81.29%     81.51%     81.42%     80.31%
Johnson High School      81.26%     80.77%     80.62%     81.23%
Pena High School         83.81%     83.61%     84.34%     84.59%
Rodriguez High School    80.99%     80.63%     80.86%     80.38%
Shelton High School      84.12%     83.44%     84.37%     82.78%
Thomas High School       83.73%     84.25%     83.59%     83.83%
Wilson High School       83.94%     84.02%     83.76%     84.32%
Wright High School       83.83%     83.81%     84.16%     84.07%

In [15]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#Average Math Score
#Average Reading Score
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math and reading.)
overview_df.columns

Index(['School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', '% Overall Passing'],
      dtype='object')

In [16]:
#Find the Max budget per student $655.00
overview_df.max()

School Type                 District
Total Students                   962
Total School Budget      $917,500.00
Per Student Budget           $655.00
Average Math Score            83.84%
Average Reading Score         84.04%
% Passing Math                94.59%
% Passing Reading             97.31%
% Overall Passing             91.33%
dtype: object

In [17]:
#Find the Min budget per student $578.00
overview_df.min()

School Type                    Charter
Total Students                   1,468
Total School Budget      $1,043,130.00
Per Student Budget             $578.00
Average Math Score              76.63%
Average Reading Score           80.74%
% Passing Math                  65.68%
% Passing Reading               79.30%
% Overall Passing               52.99%
dtype: object

In [24]:
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#Average Math Score
#Average Reading Score
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math and reading.)
spending_df = overview_df[["Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
spending_bins = [0,580,605,630,680]
spending_names = ["<$580", "$580-$605","$605-$630","$630-$680"]
spending_df["Spending Per Student"]=pd.cut(spending_df["Per Student Budget"],spending_bins,labels=spending_names, include_lowest=True)
spending_groups_df = spending_df.groupby("Spending Per Student").mean()
spending_groups_df = spending_groups_df[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
spending_groups_df

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
#Scores by School Size
#Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

In [ ]:
#Scores by School Type
#Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).